<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		body{
			margin: 100px;
			font-family: "微软雅黑";
			font-size: 50px;
		}
	</style>
	<body>
		<p>#404 Not Found</p>
	</body>
</html>
