<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		body{
			margin: 100px;
			font-family: "微软雅黑";
		}
		a{
			text-decoration: none;
			color: #4eac16;
		}
		a:hover{
			color: #5ed200;
		}
		.title{
			font-size: 50px;
		}
		.content{
			font-size: 20px;
			margin-top: -40px;
		}
	</style>
	<body>
		<p class="title">Vik</p>
		<p class="content">基于Node.js的轻量级restful框架</p>
		<a href="#">在GitHub上面了解更多</a>
	</body>
</html>
